header {
  background-color: #28a745;
  color: white;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 14px;
}

nav a:hover {
  text-decoration: underline;
}