<div class="form-container">
  <h1 class="form-title">Agendar Transferência</h1>
  <form (ngSubmit)="enviarTransferencia()">
    <div>
      <h3>Conta Destino</h3>
      <label for="agenciaDestino">Agência:</label>
      <input
        #destinationAgencyInput
        type="text"
        id="agenciaDestino"
        name="destinationAgency"
        [(ngModel)]="formData.destinationAgency"
        minlength="4"
        maxlength="4"
        required
        (input)="validarFormulario('destinationAgency')"
        (blur)="onBlur('destinationAgency')"
        (keydown.enter)="focusNext('contaDestino')"
      >
      <div *ngIf="formErrors.destinationAgency && touchedFields.has('destinationAgency')" class="error-message">{{ formErrors.destinationAgency }}</div>
    </div>
    <div>
      <label for="contaDestino">Conta:</label>
      <input
        #destinationAccountInput
        type="text"
        id="contaDestino"
        name="destinationAccount"
        [(ngModel)]="formData.destinationAccount"
        minlength="6"
        maxlength="6"
        required
        (input)="validarFormulario('destinationAccount')"
        (blur)="onBlur('destinationAccount')"
        (keydown.enter)="focusNext('agenciaOrigem')"
      >
      <div *ngIf="formErrors.destinationAccount && touchedFields.has('destinationAccount')" class="error-message">{{ formErrors.destinationAccount }}</div>
    </div>

    <div>
      <h3>Conta Origem</h3>
      <label for="agenciaOrigem">Agência:</label>
      <input
        #originAgencyInput
        type="text"
        id="agenciaOrigem"
        name="originAgency"
        [(ngModel)]="formData.originAgency"
        minlength="4"
        maxlength="4"
        required
        (input)="validarFormulario('originAgency')"
        (blur)="onBlur('originAgency')"
        (keydown.enter)="focusNext('contaOrigem')"
      >
      <div *ngIf="formErrors.originAgency && touchedFields.has('originAgency')" class="error-message">{{ formErrors.originAgency }}</div>
    </div>
    <div>
      <label for="contaOrigem">Conta:</label>
      <input
        #originAccountInput
        type="text"
        id="contaOrigem"
        name="originAccount"
        [(ngModel)]="formData.originAccount"
        minlength="6"
        maxlength="6"
        required
        (input)="validarFormulario('originAccount')"
        (blur)="onBlur('originAccount')"
        (keydown.enter)="focusNext('valor')"
      >
      <div *ngIf="formErrors.originAccount && touchedFields.has('originAccount')" class="error-message">{{ formErrors.originAccount }}</div>
    </div>

    <div>
      <label for="valor">Valor:</label>
      <input
        #transferAmountInput
        type="text"
        id="valor"
        name="transferAmount"
        [value]="displayTransferAmount"
        (input)="onTransferAmountInput($event)"
        required
        (blur)="onBlur('transferAmount')"
        (keydown.enter)="focusNext('dataAgendamento')"
      >
      <div *ngIf="formErrors.transferAmount && touchedFields.has('transferAmount')" class="error-message">{{ formErrors.transferAmount }}</div>
    </div>

    <div>
      <label for="dataAgendamento">Data de Agendamento:</label>
      <input
        #transferDateInput
        type="date"
        id="dataAgendamento"
        name="transferDate"
        [(ngModel)]="formData.transferDate"
        required
        (input)="validarFormulario('transferDate')"
        (blur)="onBlur('transferDate')"
        (keydown.enter)="enviarTransferencia()"
      >
      <div *ngIf="formErrors.transferDate && touchedFields.has('transferDate')" class="error-message">{{ formErrors.transferDate }}</div>
    </div>


    <button type="submit" [disabled]="!isFormValid" [ngClass]="{'btn-disabled': !isFormValid, 'btn-primary': isFormValid}">Enviar Transferência</button>
  </form>

  <div class="modal" [ngClass]="{'show': exibirModal}">
    <div class="modal-content" [ngClass]="{'sucesso': tipoModal === 'sucesso', 'erro': tipoModal === 'erro'}">
      <span class="close" (click)="fecharModal()">&times;</span>
      <h2>{{ tipoModal === 'sucesso' ? 'Sucesso' : 'Erro' }}</h2>
      <p>{{ mensagemModal }}</p>
      <a *ngIf="tipoModal === 'sucesso'" (click)="verAgendamentos()" class="ver-agendamentos">Ver Agendamentos</a>
      <button *ngIf="tipoModal === 'erro'" (click)="fecharModal()" class="fechar-erro">Fechar</button>
    </div>
  </div>
</div>